@media all and (min-device-width: 1025px) and (max-device-width: 1366px){
  /* фрэйм 1 */
  .frame1 {
    position:absolute;
    width: 1366px;
    height: 768px;
  }
  .afkraft {
    position: relative;
    width: 478.56px;
    height: 410.61px;
    left: 268px;
    top: 40px;
    background: url("../images/afkraft pc2.svg");
  }
  .zyablik {
    position: relative;
    width: 480.19px;
    height: 361.22px;
    left: 660px;
    top: -340px;
    background: url("../images/zyablik pc2.svg");
  }
  .borange {
    width: 420px;
    height: 460px;
    display: block;
    position: relative;
    top: -825px;
    left: -450px;
    background: url("../images/head_orange_pc.svg");
    animation: aorange 1.5s cubic-bezier(.43,.46,.5,.91) forwards;
    animation-delay: 1.5s;
  }
  .bblue {
    width: 420px;
    height: 550px;
    display: block;
    position: relative;
    top: -950px;
    left: -400px;
    background: url("../images/head blue pc.svg");
    animation: ablue 1.5s cubic-bezier(.43,.46,.5,.91) forwards;
    animation-delay: 2.5s;
  }
  .bpink {
    width: 510px;
    height: 550px;
    display: block;
    position: relative;
    top: -1480px;
    left: -410px;
    background: url("../images/head pink pc.svg");
    animation: apink 1.5s cubic-bezier(.43,.46,.5,.91) forwards;
    animation-delay: 1s;
  }
  .bgreen {
    width: 510px;
    height: 550px;
    display: block;
    position: relative;
    top: -1970px;
    left: 1400px;
    background: url("../images/head green pc.svg");
    animation: agreen 1.5s cubic-bezier(.43,.46,.5,.91) forwards;
    animation-delay: 1.5s;
  }
  .bred {
    width: 590px;
    height: 580px;
    display: block;
    position: relative;
    top: -2880px;
    left: 1500px;
    background: url("../images/head red pc.svg");
    animation: ared 1.5s cubic-bezier(.43,.46,.5,.91) forwards;
    animation-delay: 1.5s;
  }
  /* фрэйм 2-3 */
  .frame23 {
    position:absolute;
    top:768px;
    width: 1366px;
    height: 768px;
  }
  /* класс стафф */
  .stuff {
    position:relative;
    width: 1366px;
    height: 1536px;
  }
  .ribbon {
    width: 380px;
    height: 550px;
    display: block;
    position: relative;
    top: 20px;
    left: -30px;
    background: url("../images/ribbon pc2.svg");
    animation: ribbon 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.2s;
  }
  .button1 {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    top: -330px;
    left: 210px;
    transform: rotate(35deg);
    background: url("../images/button pc.svg");
    animation: button1 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.4s;
  }
  .button2 {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    top: -134px;
    left: 200px;
    transform: rotate(20deg);
    background: url("../images/button pc.svg");
    animation: button2 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .button3 {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    top: -150px;
    left: 770px;
    transform: rotate(-60deg);
    background: url("../images/button pc.svg");
    animation: button3 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .button4 {
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    top: -25px;
    left: 1238px;
    transform: rotate(-6deg);
    background: url("../images/button pc.svg");
    animation: button4 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }

  .busket {
    width: 500px;
    height: 560px;
    display: block;
    position: relative;
    top: -550px;
    left: -180px;
    background: url("../images/busket pc.svg");
    animation: busket 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .mask {
    width: 590px;
    height: 700px;
    display: block;
    position: relative;
    top: -1390px;
    left: 801px;
    background: url("../images/mask pc.svg");
    animation: mask 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.2s;
  }
  .vudu {
    width: 500px;
    height: 471px;
    display: block;
    position: relative;
    top: -2060px;
    left: 180px;
    background: url("../images/vudu pc.png");
    transform: rotate(20deg);
    animation: vudu 2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.2s;
  }
  .earingy {
    width: 150px;
    height: 200px;
    display: block;
    position: relative;
    top: -1860px;
    left: 990px;
    background: url("../images/earings y pc.svg");
    animation: earingy 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .earingg1 {
    width: 400px;
    height: 400px;
    display: block;
    position: relative;
    top: -2570px;
    left: 660px;
    background: url("../images/earings g pc.svg");
    animation: earingg1 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.6s;
  }
  .earingg2 {
    width: 400px;
    height: 400px;
    display: block;
    position: relative;
    top: -2650px;
    left: 980px;
    transform: rotate(70deg);
    background: url("../images/earings g pc.svg");
    animation: earingg2 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .jug {
    width: 390px;
    height: 390px;
    display: block;
    position: relative;
    top: -3540px;
    left: 540px;
    background: url("../images/jug pc.svg");
    transform: rotate(55deg);
    animation: jug 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.3s;
  }
  .skirt {
    width: 400px;
    height: 450px;
    display: block;
    position: relative;
    top: -3600px;
    left: 460px;
    background: url("../images/skirt pc2.svg");
    animation: skirt 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  /* класс части зелёные */
  .gparts {
    position:relative;
    top: -1000px;
    width: 700px;
    height: 900px;
  }
  .ghead {
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    top: 110px;
    left: 195px;
    background: url("../images/parts head green pc2.svg");
    animation: ghead 1s cubic-bezier(.76,.71,.45,0.1) forwards;
    animation-delay: 5.4s;
  }
  .garmr {
    width: 350px;
    height: 300px;
    display: block;
    position: relative;
    top: 460px;
    left: 450px;
    background: url("../images/parts arm r green pc2.svg");
    animation: garmr 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .garml {
    width: 230px;
    height: 300px;
    display: block;
    position: relative;
    top: -210px;
    left: -40px;
    background: url("../images/parts arm l green pc2.svg");
    animation: garml 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.6s;
  }
  .glegs {
    width: 390px;
    height: 430px;
    display: block;
    position: relative;
    top: -650px;
    left: 300px;
    background: url("../images/parts legs green pc2.svg");
    animation: glegs 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.6s;
  }
  .gneck {
    width: 360px;
    height: 330px;
    display: block;
    position: relative;
    top: -800px;
    left: 120px;
    background: url("../images/parts neck green pc2.svg");
    animation: gneck 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .gtriangle {
    width: 180px;
    height: 190px;
    display: block;
    position: relative;
    top: -860px;
    left: 50px;
    background: url("../images/parts triangle green pc2.svg");
    animation: gtriangle 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5.4s;

  }
  .gline1 {
    width: 170px;
    height: 240px;
    display: block;
    position: relative;
    top: -1475px;
    left: 175px;
    background: url("../images/parts line green pc2.png");
    animation: gline1 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5.2s
  }
  .gline2 {
    width: 120px;
    height: 230px;
    display: block;
    position: relative;
    top: -1450px;
    left: 390px;
    transform: rotate(30deg);
    background: url("../images/parts line green pc2.png");
    animation: gline2 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5.2s
  }
  /* класс части красные */
  .rparts {
    position:relative;
    top: -1300px;
    left: 550px;
    width: 1300px;
    height: 1100px;
  }
  .rhead {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    top: -580px;
    left: 260px;
    background: url("../images/parts head red pc2.svg");
    animation: rhead 1.2s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 6.0s;
  }
  .rarmr {
    width: 260px;
    height: 260px;
    display: block;
    position: relative;
    top: -300px;
    left: 560px;
    background: url("../images/parts arm r red pc2.svg");
    animation: rarmr 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.0s;
  }
  .rarml {
    width: 250px;
    height: 300px;
    display: block;
    position: relative;
    top: -875px;
    left: 560px;
    background: url("../images/parts arm l red pc2.svg");
    animation: rarml 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.8s;

  }
  .rlegs {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    top: -860px;
    left: 170px;
    background: url("../images/parts legs red pc2.svg");
    animation: rlegs 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .rneck {
    width: 340px;
    height: 330px;
    display: block;
    position: relative;
    top: -1470px;
    left: 190px;
    background: url("../images/parts neck red pc2.svg");
    animation: rneck 1s cubic-bezier(.76,.71,.45,0.1) forwards;
    animation-delay: 5.4s;
  }
  .rtriangle {
    width: 180px;
    height: 110px;
    display: block;
    position: relative;
    top: -1500px;
    left: 420px;
    background: url("../images/parts triangle red pc2.svg");
    animation: rtriangle 1s cubic-bezier(.76,.71,.45,0.8) forwards;
    animation-delay: 5.2s;
  }
  .rline1 {
    width: 260px;
    height: 200px;
    display: block;
    position: relative;
    top: -1690px;
    left: 160px;
    background: url("../images/parts line red pc2.png");
    animation: rline1 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .rline2 {
    width: 260px;
    height: 200px;
    display: block;
    position: relative;
    top: -1690px;
    left: 460px;
    transform: rotate(-110deg);
    background: url("../images/parts line red pc2.png");
    animation: rline2 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.6s;
  }
  /* класс леттерс */
  .letters {
    position:relative;
    top: -2800px;
    left: 0px;
    width: 1366px;
    height: 768px;
  }
  p {
    font-size: 130px;
  }
  .a1 {
    width: 160px;
    height: 250px;
    display: block;
    position: relative;
    top: 440px;
    left: 30px;
    animation: a1 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.8s;
  }
  .f1 {
    width: 320px;
    height: 320px;
    display: block;
    position: relative;
    top: -160px;
    left: 641px;
    transform: rotate(-15sdeg);
    animation: f1 1s cubic-bezier(.76,.71,.45,0.1) forwards;
    animation-delay: 5.4s;
  }
  .k {
    width: 80px;
    height: 250px;
    display: block;
    position: relative;
    top: -300px;
    left: 1130px;
    transform: rotate(-10deg);
    animation: k 1s cubic-bezier(.76,.71,.45,0.1) forwards;
    animation-delay: 5.4s;
  }
  .r {
    width: 80px;
    height: 250px;
    display: block;
    position: relative;
    top: -990px;
    left: 420px;
    transform: rotate(-20deg);
    animation: r 1s cubic-bezier(.76,.71,.45,.8) forwards;
    animation-delay: 5.8s;
  }
  .a2 {
    width: 160px;
    height: 250px;
    display: block;
    position: relative;
    top: -660px;
    left: 645px;
    transform: rotate(-30deg);
    animation: a2 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5.2s
  }
  .f2 {
    width: 80px;
    height: 250px;
    display: block;
    position: relative;
    top: -750px;
    left: 310px;
    transform: rotate(-15deg);
    animation: f2 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .t {
    width: 80px;
    height: 250px;
    display: block;
    position: relative;
    top: -990px;
    left: 1050px;
    transform: rotate(-40deg);
    animation: t 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  .sign {
    width: 80px;
    height: 250px;
    display: block;
    position: relative;
    top: -1210px;
    left: 1240px;
    transform: rotate(20deg);
    animation: sign 1s cubic-bezier(.76,.71,.45,.81) forwards;
    animation-delay: 5s;
  }
  /* фрэйм 4 */
  .frame4 {
    position:absolute;
    top:2304px;
    width: 1366px;
    height: 768px;
  }
  .afro {
    width: 653px;
    height: 675px;
    display: block;
    position: relative;
    top: 20px;
    left: 340px;
    background: url("../images/zaafro pc2.png");
  }
  .greenman {
    width: 510.32px;
    height: 715.9px;
    display: block;
    position: relative;
    top: -650px;
    left: -90px;
    background: url("../images/green afro pc2.svg");
    background-position: 0 top;
    animation: greenmana 0.7s steps(1) infinite;

  }
  .redman {
    width: 487.5px;
    height: 691.32px;
    display: block;
    position: relative;
    top: -1380px;
    left: 920px;
    background: url("../images/red afro pc2.svg");
    background-position: 0 top;
    animation: redmana 0.7s steps(1) infinite;
  }
  .futter{
  top: -1390px;
  width: 1376px;
  }
  .me {
    top: -1345px;
  }

  /* анимация фрэйм 1 головы */
  @keyframes aorange {
    0% {left:-350px;transform: rotate(-45deg);}
    100% {left: -130px; transform: rotate(0deg);}
  }
  @keyframes ablue {
    0% {left:-200px;transform: rotate(-45deg);}
    100% {left: -40px; transform: rotate(0deg);}
  }
  @keyframes apink {
    0% {top: -1480px; left:-410px; transform: rotate(-180deg);}
    100% {top: -1490px; left: 260px;  transform: rotate(0deg);}
  }
  @keyframes agreen {
    0% {left:1400px;transform: rotate(-180deg);}
    100% {left: 650px; transform: rotate(0deg);}
  }
  @keyframes ared {
    0% {top: -3150px; left: 1500px;transform: rotate(-180deg);}
    100% {top: -2880px; left: 960px; transform: rotate(80deg);}
  }

  /* анимация фрэйм 23 */
  /* анимация класс стафф */
  @keyframes ribbon{
    0% {top: 20px;}
    100% {top: 390px; left: 20px; transform: rotate(-20deg);}
  }
  @keyframes button1{
    0% {top: -330px; left: 210px;}
    100% {top: 20px; left: 230px;transform: rotate(20deg);}
  }
  @keyframes button2{
    0% {top: -134px; left: 200px;}
    100% {top: 200px; left: 230px;}
  }
  @keyframes button3{
    0% {top:-150px; left: 770px;}
    100% {top:100px; left: 830px;}
  }
  @keyframes button4{
    0% {top:-25px;}
    100% {top:170px;}
  }
  @keyframes busket{
    0% {top:-550px; left: -180px;}
    100% {top: -260px; left: -200px;}
  }
  @keyframes mask{
    0% {top:-1390px;}
    100% {top:-1160px;}
  }
  @keyframes vudu{
    0% {top:-2060px; left: 180px;}
    100% {top:-1680px; left: 240px; transform: rotate(0deg);}
  }
  @keyframes earingy{
    0% {top:-1860px; left: 990px;}
    100% {top:-1680px; left: 1110px;}
  }
  @keyframes earingg1{
    0% {top:-2570px;}
    100% {top:-2250px;}
  }
  @keyframes earingg2{
    0% {top:-2650px; left: 980px;}
    100% {top:-2430px;}
  }
  @keyframes jug{
    0% {  top: -3540px;}
    100% {top:-3230px;}
  }
  @keyframes skirt{
    0% {top:-3600px; left: 460px;}
    100% {top:-3310px; left: 560px;}
  }
  /* анимация класс gparts */
  @keyframes ghead{
    0% {top:110px; left:195px;}
    100% {top:370px; left:185px;}
  }
  @keyframes garmr{
    0% {top: 460px; left:450px;}
    100% {top:440px; left: 490px;}
  }
  @keyframes garml{
    0% {top:-210px; left:-40px;}
    50% {top:-150px; left:-40px; transform: rotate(60deg);}
    100% {top: 0px; left: 100px;}
  }
  @keyframes glegs{
    0% {top:-650px; left:300px;}
    100% {top:-540px; left: 330px;}
  }
  @keyframes gneck{
    0% {top:-800px; left:120px;}
    100% {top:-600px; left: 150px;}
  }

  @keyframes gline1{
    0% {top:-1475px; left: 175px;}
    100% {top:-1235px; left: 245px;}
  }
  @keyframes gline2{
    0% {top:-1450px; left: 390px;}
    100% {top:-1440px; left: 420px;}
  }
  /* анимация класс rparts */
  @keyframes rhead{
    0% {top: -580px; left: 260px;}
    100% {top: -380px; left:290px;}
  }
  @keyframes rarmr{
    0% {top: -300px; left: 560px;}
    100% {top: -230px; left:530px;}
  }
  @keyframes rarml{
    0% {top:-875px; left: 560px;}
    100% {top: -710px; left: 480px;}
  }
  @keyframes rlegs{
    0% {top: -860px;}
    100% {top:-780px;}
  }
  @keyframes rneck{
    0% {top:-1470px; left:190px;}
    100% {top:-1340px; left: 240px;}
  }
  @keyframes rtriangle{
    0% {top:-1500px;}
    100% {top:-1400px;}
  }
  @keyframes rline1{
    0% {top:-1690px;}
    100% {top: -1590px;}
  }
  @keyframes rline2{
    0% {top:-1690px; left: 460px;}
    100% {top:-1640px; left: 470px; transform: rotate(-105deg);}
  }
  /* анимация класс letters */

  @keyframes f1{
    0% {top: -160px; left: 641px;}
    100% {top: 170px; left: 610px;}
  }
  @keyframes k{
    0% {top:-300px; left: 1130px;}
    100% {top:-220px; left:1250px;}
  }
  @keyframes r{
    0% {top:-990px; left: 420px;}
    100% {top:-730px; left:400px;}
  }
  @keyframes f2{
    0% {top:-740px; left:310px;}
    50% {top:-720px;  transform: rotate(90deg)}
    100% {top:-720px; left: 520px;}
  }


  /* анимация фрэйм 4 */
  @keyframes greenmana{
    0% {background-position: 0 top;}
    50% {background-position: -510.32px top;}
  }
  @keyframes redmana{
    0% {background-position: 0 top;}
    50% {background-position: -487.5px top;}
  }

}
